:root {
    --light-color: #FFF7ED;
    --dark-color: #161616;
    --primary-color: #FF8C38;
    --secondary-color: #FFCC8D;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Infer, sans-serif;
    background-color: var(--light-color);
}

body::-webkit-scrollbar {
    display: none;
}

/* --------- Header --------- */
nav {
    display: flex;
    gap: 1em;
}

nav > a {
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    text-decoration: none;
    color: #4D4D4D;
}
nav a.active {
    font-weight: bold;
    text-decoration: underline;
    color: #161616;
}
nav > a:active {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-color);
    /* height: 112px; */
    padding: 2.25em 1.5625em;
}
header > a {
    font-weight: 900;
    font-size: 25px;
    color: #000;
    text-decoration: none;
}

section.hero {
    padding: 4.0625em 1.5625em;
    color: #FFF;
    background-image: url('./assets/images/hero.png');
    background-size: cover;
}
section.hero > h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
}
section.hero > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 1.375em;
}
/* --------- End Header --------- */

/* --------- General --------- */
button.link-button {
    border: none;
    border-radius: 5px;

    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;

    color: #FFF;
    background-color: var(--primary-color);

    width: 100%;
    height: 50px;
    margin-top: 3.25em;
}
/* --------- End General --------- */

/* --------- Footer --------- */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;

    background-color: #252525;
    color: #AAAAAA;

    height: 75px;

    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}
footer > span {
    font-size: 18px;
}
/* --------- End Footer --------- */

/* About */
section.about > img {
    width: 100%;
}
.about-content {
    padding: 3em 1.75em;
    color: var(--dark-color);
}
.about-content > h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin: 0;
}
.about-content > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-top: 2em;
}
.about-content-box {
    padding: 2em 2.375em;
    margin-top: 3.4375em;
    background-color: var(--secondary-color);
    border-radius: 5px;
}
.about-content-box > h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}
.about-content-box button {
    border: none;
    border-radius: 10px;

    background-color: var(--dark-color);
    color: #FFF;

    width: 174px;
    height: 49px;
    margin-top: 1.5625em;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

/* Vans */
section.vans {
    color: var(--dark-color);
    padding: 0 26px 3em 26px;
}
section.vans > h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    margin: 0;
    padding: 55px 0 22px 0;
}
.vans-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.van-tile {
    width: 47%;
}
.vans-list a {
    text-decoration: none;
    color: var(--dark-color);
}
.van-tile .van-info {
    display: flex;
    justify-content: space-between;
}
.van-tile img {
    width: 100%;
    border-radius: 5px;
}
.van-tile h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin: 10px 0 0 0;
}
.van-price {
    font-weight: 500;
    font-size: 14px;
    line-height: 4px;
    flex: 0 0 15%;
    margin-top: 10px;
    text-align: end;
}
.van-price span {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin: 0;
}
.van-type {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: var(--light-color);

    padding: 0.5em 0.75em;
    border-radius: 5px;
}
.van-type.rugged {
    background-color: #115E59;
}
.van-type.simple {
    background-color: #E17654;

}
.van-type.luxury {
    background-color: var(--dark-color);
}

/* van filters */
.van-filters {
    display: flex;
    gap: 10px;
    margin-bottom: 3em;
}
.van-filters button {
    text-decoration: none;
    color: #4D4D4D;
    background-color: #FFEAD0;
    padding: 0.25em 0.5em;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}
.van-filters button.active {
    color: var(--light-color);
}
.van-filters .clear-filters {
    color: #000;
    background-color: transparent;
    text-decoration: underline;
    padding: 0.5em 1em;
    margin-left: 1em;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

/* van detail */
.van-detail {
    padding: 0 26px;
}
.van-header {
    display: flex;
    gap: 10px;
}
.van-header .icon {
    color: #858585;
}
.van-header .icon:hover {
    color: var(--primary-color);
}
.van-header a {
    text-decoration: underline;
    color: #201F1D;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.van-detail .van-detail-info img {
    width: 100%;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.van-detail .van-detail-info .van-type {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: var(--light-color);

    padding: 0.5em 0.75em;
    border-radius: 5px;
}
.van-detail .van-detail-info h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    margin: 20px 0 0 0;
}
.van-detail .van-detail-info .van-price {
    text-align: start;
}
.van-detail .van-detail-info .description {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.van-detail .van-detail-info .link-button {
    margin-top: 22px;
    margin-bottom: 3em;
}

/* ------------- Host ------------- */
.host-nav {
    display: flex;
    align-items: center;
    padding: 0 26px;
}
.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.host-nav a:hover {
    text-decoration: underline;
    color: #161616;
}
.host-nav a.active {
    font-weight: bold;
    text-decoration: underline;
    color: #161616;
}

/* Vans */
.host-vans {
    padding: 0 26px;
}
.host-vans h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    margin: 0;
    padding: 55px 0 22px 0;
}
.host-vans .host-vans-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 3em;
}
.host-vans-list-item a {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: #FFF;
    border-radius: 5px;
    padding: 18px 24px;
    text-decoration: none;
    color: #161616;
}
.host-vans-list-item img {
    width: 65px;
    height: 65px;
    border-radius: 5px;
}
.host-vans-list-item-info h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin: 0;
    padding: 0;
}
.host-vans-list-item-info p {
    color: #4D4D4D;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

/* Van Detail */
.host-van-detail {
    padding: 0 26px;
}
.host-van-detail-info {
    margin-block: 40px;
    padding: 25px;
    background-color: #FFF;
}
.host-van-detail-info .header {
    display: flex;
    gap: 10px;
}
.host-van-detail-info .header img {
    width: 160px;
    height: 160px;
    border-radius: 5px;
}
.host-van-detail-info .header .van-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.host-van-detail-info .header .van-info .van-type {
    width: fit-content;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: var(--light-color);

    padding: 0.5em 0.75em;
    border-radius: 5px;
}
.host-van-detail-info .header .van-info h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 27px;
    margin: 0;
}
.host-van-detail-info .header .van-info .van-price {
    margin: 0;
    padding: 0;
}
.host-van-detail-nav {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.host-van-detail-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
/* van detail info */
.host-van-details-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.host-van-details-info h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-right: 5px;
    display: inline;
}
.host-van-details-info p {
    display: inline;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}
/* van details pricing */
.host-van-details-pricing .price {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #161616;
}

/* van details photos */
.host-van-details-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.host-van-details-photos img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

/* ------------- End Host ------------- */
