:root {
    --light-color: #FFF7ED;
    --dark-color: #161616;
    --primary-color: #FF8C38;
    --secondary-color: #FFCC8D;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Infer, sans-serif;
    background-color: var(--light-color);
}

body::-webkit-scrollbar {
    display: none;
}

/* General */
.container {
    padding: 0 26px;
    max-width: 1200px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .container {
        padding: 0 40px;
    }
}
@media (min-width: 1024px) {
    .container {
        padding: 0 60px;
    }
}
.text-danger {
    color: #FF0000;
}

/* --------- Header --------- */
nav {
    display: flex;
    gap: 1em;
}

nav > a {
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    text-decoration: none;
    color: #4D4D4D;
}
nav a.active {
    font-weight: bold;
    text-decoration: underline;
    color: #161616;
}
nav > a:active {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-color);
    /* height: 112px; */
    padding: 2.25em 1.5625em;
    max-width: 1200px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    header {
        padding: 2.25em 40px;
    }
}
@media (min-width: 1024px) {
    header {
        padding: 2.25em 60px;
    }
}
header > a {
    font-weight: 900;
    font-size: 25px;
    color: #000;
    text-decoration: none;
}
@media (min-width: 768px) {
    header > a {
        font-size: 28px;
    }
}

section.hero {
    padding: 4.0625em 1.5625em;
    color: #FFF;
    background-image: url('./assets/images/hero.png');
    background-size: cover;
    background-position: center;
}
@media (min-width: 768px) {
    section.hero {
        padding: 6em 40px;
    }
}
@media (min-width: 1024px) {
    section.hero {
        padding: 8em 60px;
        max-width: 1200px;
        margin: 0 auto;
    }
}
section.hero > h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
}
@media (min-width: 768px) {
    section.hero > h1 {
        font-size: 48px;
        line-height: 56px;
    }
}
@media (min-width: 1024px) {
    section.hero > h1 {
        font-size: 56px;
        line-height: 66px;
        max-width: 600px;
    }
}
section.hero > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 1.375em;
}
@media (min-width: 768px) {
    section.hero > p {
        font-size: 18px;
        line-height: 28px;
    }
}
@media (min-width: 1024px) {
    section.hero > p {
        font-size: 20px;
        line-height: 32px;
        max-width: 600px;
    }
}
/* --------- End Header --------- */

/* --------- General --------- */
button.link-button {
    border: none;
    border-radius: 5px;

    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;

    color: #FFF;
    background-color: var(--primary-color);

    width: 100%;
    height: 50px;
    margin-top: 3.25em;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
button.link-button:hover {
    background-color: #E67A2E;
}
@media (min-width: 768px) {
    button.link-button {
        max-width: 400px;
        height: 55px;
        font-size: 18px;
    }
}
/* --------- End General --------- */

/* --------- Footer --------- */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;

    background-color: #252525;
    color: #AAAAAA;

    height: 75px;

    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}
footer > span {
    font-size: 18px;
}
/* --------- End Footer --------- */

/* About */
section.about > img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
.about-content {
    padding: 3em 1.75em;
    color: var(--dark-color);
    max-width: 1200px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .about-content {
        padding: 4em 40px;
    }
}
@media (min-width: 1024px) {
    .about-content {
        padding: 5em 60px;
    }
}
.about-content > h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin: 0;
}
@media (min-width: 768px) {
    .about-content > h2 {
        font-size: 40px;
        line-height: 48px;
    }
}
@media (min-width: 1024px) {
    .about-content > h2 {
        font-size: 48px;
        line-height: 56px;
    }
}
.about-content > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-top: 2em;
}
@media (min-width: 768px) {
    .about-content > p {
        font-size: 18px;
        line-height: 28px;
    }
}
@media (min-width: 1024px) {
    .about-content > p {
        font-size: 20px;
        line-height: 32px;
        max-width: 800px;
    }
}
.about-content-box {
    padding: 2em 2.375em;
    margin-top: 3.4375em;
    background-color: var(--secondary-color);
    border-radius: 5px;
}
@media (min-width: 1024px) {
    .about-content-box {
        max-width: 800px;
    }
}
.about-content-box > h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}
@media (min-width: 768px) {
    .about-content-box > h3 {
        font-size: 28px;
        line-height: 36px;
    }
}
.about-content-box button {
    border: none;
    border-radius: 10px;

    background-color: var(--dark-color);
    color: #FFF;

    width: 174px;
    height: 49px;
    margin-top: 1.5625em;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.about-content-box button:hover {
    background-color: #2b2b2b;
}
@media (min-width: 768px) {
    .about-content-box button {
        width: 200px;
        height: 54px;
        font-size: 18px;
    }
}

/* Vans */
section.vans {
    color: var(--dark-color);
    padding: 0 26px 3em 26px;
    max-width: 1200px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    section.vans {
        padding: 0 40px 3em 40px;
    }
}
@media (min-width: 1024px) {
    section.vans {
        padding: 0 60px 3em 60px;
    }
}
section.vans > h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    margin: 0;
    padding: 55px 0 22px 0;
}
@media (min-width: 768px) {
    section.vans > h2 {
        font-size: 40px;
        line-height: 42px;
    }
}
.vans-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
@media (min-width: 768px) {
    .vans-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}
@media (min-width: 1024px) {
    .vans-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 35px;
    }
}
.van-tile {
    width: 100%;
}
.vans-list a {
    text-decoration: none;
    color: var(--dark-color);
}
.van-tile .van-info {
    display: flex;
    justify-content: space-between;
}
.van-tile img {
    width: 100%;
    border-radius: 5px;
}
.van-tile h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin: 10px 0 0 0;
}
.van-price {
    font-weight: 500;
    font-size: 14px;
    line-height: 4px;
    flex: 0 0 15%;
    margin-top: 10px;
    text-align: end;
}
.van-price span {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin: 0;
}
.van-type {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: var(--light-color);

    padding: 0.5em 0.75em;
    border-radius: 5px;
}
.van-type.rugged {
    background-color: #115E59;
}
.van-type.simple {
    background-color: #E17654;

}
.van-type.luxury {
    background-color: var(--dark-color);
}

/* van filters */
.van-filters {
    display: flex;
    gap: 10px;
    margin-bottom: 3em;
}
.van-filters button {
    text-decoration: none;
    color: #4D4D4D;
    background-color: #FFEAD0;
    padding: 0.25em 0.5em;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}
.van-filters button.active {
    color: var(--light-color);
}
.van-filters .clear-filters {
    color: #000;
    background-color: transparent;
    text-decoration: underline;
    padding: 0.5em 1em;
    margin-left: 1em;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

/* van detail */
.van-header {
    display: flex;
    gap: 10px;
}
.van-header .icon {
    color: #858585;
}
.van-header .icon:hover {
    color: var(--primary-color);
}
.van-header a {
    text-decoration: underline;
    color: #201F1D;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.van-detail {
    max-width: 1200px;
    margin: 0 auto;
}
.van-detail .van-detail-info img {
    width: 100%;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 50px;
}
@media (min-width: 768px) {
    .van-detail .van-detail-info img {
        max-width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.van-detail .van-detail-info .van-type {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: var(--light-color);

    padding: 0.5em 0.75em;
    border-radius: 5px;
}
.van-detail .van-detail-info h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    margin: 20px 0 0 0;
}
.van-detail .van-detail-info .van-price {
    text-align: start;
}
.van-detail .van-detail-info .description {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.van-detail .van-detail-info .link-button {
    margin-top: 22px;
    margin-bottom: 3em;
}

/* ------------- Host ------------- */
.host-nav {
    display: flex;
    align-items: center;
}
.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.host-nav a:hover {
    text-decoration: underline;
    color: #161616;
}
.host-nav a.active {
    font-weight: bold;
    text-decoration: underline;
    color: #161616;
}

/* Vans */
.host-vans {
    max-width: 1200px;
    margin: 0 auto;
}
.host-vans h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    margin: 0;
    padding: 55px 0 22px 0;
}
@media (min-width: 768px) {
    .host-vans h2 {
        font-size: 40px;
        line-height: 42px;
    }
}
.host-vans .host-vans-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 3em;
}
@media (min-width: 768px) {
    .host-vans .host-vans-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5em;
    }
}
@media (min-width: 1024px) {
    .host-vans .host-vans-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }
}
.host-vans-list-item a {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: #FFF;
    border-radius: 5px;
    padding: 18px 24px;
    text-decoration: none;
    color: #161616;
}
.host-vans-list-item img {
    width: 65px;
    height: 65px;
    border-radius: 5px;
}
.host-vans-list-item-info h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin: 0;
    padding: 0;
}
.host-vans-list-item-info p {
    color: #4D4D4D;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

/* Van Detail */
.host-van-detail-info {
    margin-block: 40px;
    padding: 25px;
    background-color: #FFF;
    max-width: 1200px;
    margin-inline: auto;
}
@media (min-width: 768px) {
    .host-van-detail-info {
        padding: 40px;
    }
}
.host-van-detail-info .header {
    display: flex;
    gap: 10px;
}
.host-van-detail-info .header img {
    width: 160px;
    height: 160px;
    border-radius: 5px;
}
.host-van-detail-info .header .van-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.host-van-detail-info .header .van-info .van-type {
    width: fit-content;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: var(--light-color);

    padding: 0.5em 0.75em;
    border-radius: 5px;
}
.host-van-detail-info .header .van-info h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 27px;
    margin: 0;
}
.host-van-detail-info .header .van-info .van-price {
    margin: 0;
    padding: 0;
}
.host-van-detail-nav {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.host-van-detail-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
/* van detail info */
.host-van-details-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.host-van-details-info h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-right: 5px;
    display: inline;
}
.host-van-details-info p {
    display: inline;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}
/* van details pricing */
.host-van-details-pricing .price {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #161616;
}

/* van details photos */
.host-van-details-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.host-van-details-photos img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

/* income */
.host-income {
    padding-inline: 26px;
    color: #161616;
    max-width: 1200px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .host-income {
        padding-inline: 40px;
    }
}
@media (min-width: 1024px) {
    .host-income {
        padding-inline: 60px;
    }
}
.host-income > p {
    color: #4d4d4d;
    margin-bottom: 0;
}
.host-income > p span {
    text-decoration: underline;
    font-weight: bold;
}
.host-income > h2 {
    font-size: 38px;
    color: #161616;
    font-weight: 900;
    margin-top: 0.5em;
}
img.graph {
    width: 100%;
    max-width: 500px;
}
.host-income .info-header > p {
    color: #4d4d4d;
}
.host-income .info-header > p span {
    text-decoration: underline;
    font-weight: bold;
}
.host-income .info-header > h3 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 60px;
}
.host-income .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 31px;
    padding: 35px 29px;
    border-radius: 6px;
}
.host-income .transaction > h3 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}
.host-income .transaction > p {
    font-weight: 500;
    font-size: 20px;
    color: #4d4d4d;
}

/* reviews */
.host-reviews {
    padding-inline: 26px;
    color: #161616;
    max-width: 1200px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .host-reviews {
        padding-inline: 40px;
    }
}
@media (min-width: 1024px) {
    .host-reviews {
        padding-inline: 60px;
    }
}
.host-reviews .top-text {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.host-reviews .top-text > h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    margin-right: 20px;
}
.host-reviews .top-text > p {
    margin: 0;
    color: #4d4d4d;
}
.host-reviews .top-text > p span {
    text-decoration: underline;
    font-weight: bold;
}
.host-reviews > img {
    margin-bottom: 36px;
}
.host-reviews .reviews {
    margin-bottom: 2em;
}
.host-reviews .review {
    margin-block: 25px;
}
.host-reviews .review .info {
    display: flex;
}
.host-reviews .review .name {
    color: #161616;
    margin-right: 10px;
    font-weight: 600;
}
.host-reviews .review .date {
    color: #8c8c8c;
}
.host-reviews hr {
    background-color: #c7c7c7;
    height: 1px;
    border: 0;
}
.host-reviews .review-star {
    color: #ff8c38;
    margin-right: 5px;
}

/* ------------- End Host ------------- */

/* 404 page */
.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 100px;
    padding-inline: 26px;
    max-width: 600px;
    margin-inline: auto;
}
.not-found h1 {
    font-weight: 700;
    font-family: Inter;
    font-size: 32px;
    line-height: 42px;
}
@media (min-width: 768px) {
    .not-found h1 {
        font-size: 40px;
        line-height: 50px;
    }
}
.not-found a {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 31.66px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
    background-color: #161616;
    color: #FFF;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    padding: 0.5em 0;
    transition: background-color 0.2s ease;
}
.not-found a:hover {
    background-color: #2b2b2b;
}

/* login page */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 50px;
    padding-inline: 26px;
}
@media (min-width: 768px) {
    .login {
        padding-inline: 40px;
        margin-block: 80px;
    }
}
.login h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 50px;
}
@media (min-width: 768px) {
    .login h1 {
        font-size: 40px;
        line-height: 32px;
    }
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.login-form input {
    width: 100%;
    height: 50px;
    border: 1px solid #DADADA;
    padding: 0 10px;
    font-size: 16px;
}
@media (min-width: 768px) {
    .login-form input {
        height: 55px;
        padding: 0 15px;
        font-size: 18px;
    }
}
.login-form input[type="email"] {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.login-form input[type="password"] {
    border-top: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.login-form button {
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    color: #FFF;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
@media (min-width: 768px) {
    .login-form button {
        height: 55px;
        font-size: 20px;
    }
}
.login-form button:hover {
    background-color: #E67A2E;
}

